# Môi trường ảo
venv/
.venv/

# File cache của Python
__pycache__/
*.py[cod]
*$py.class

# Các file build và output
/output/*
/uploads/*
/test_logs/*
/build/*
/shellcode/*

# File của các IDE
.vscode/
.idea/
/build
/build/generated_loader.cpp
build/generated_loader.cpp
